* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .post-list {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }
  .post-list_title {
    margin-bottom: 15px;
  }
  .post {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: left;
  }
  .post_btn {
    background-color: transparent;
    border: 1px solid #00BFFF;
    padding: 0 10px;
  }
  .post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .post-form_input {
    padding: 5px 10px;
    border: 1px solid #00BFFF;
  }