* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .App {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }
  .post-list {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 90%;
  }
  .post-viewe_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
  }
  .post-list_title {
    margin-bottom: 15px;
  }
  .post {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: left;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }